:root {
  --color-white: hsl(0, 0%, 100%);
  --color-light-grey: hsl(217, 12%, 63%);
  --color-medium-grey: hsl(216, 12%, 54%);
  --color-dark-blue: hsl(213, 19%, 18%);
  --color-very-dark-blue: hsl(216, 12%, 8%);
  --color-orange: hsl(25, 97%, 53%);
  --backgroud: hsl(211, 19%, 23%);
}

body {
  font-family: "Overpass", sans-serif;
  background-color: var(--color-very-dark-blue);
  font-size: 15px;
  max-width: 100vh;
  margin: auto;
}

h1 {
  color: var(--color-white);
}

p {
  color: var(--color-light-grey);
}

.container {
  background-color: var(--color-dark-blue);
  margin: 10em auto;
  max-width: 350px;
  border-radius: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.star {
  background-color: var(--backgroud);
  border-radius: 50%;
  padding: 0.8em;
  max-width: 1em;
}

.zone-rating {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.numbers {
  color: var(--color-light-grey);
  background-color: var(--backgroud);
  width: 3em;
  height: 3em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.numbersClicked {
  color: var(--color-white);
  background-color: var(--color-orange);
}

.numbers:hover {
  background-color: var(--color-medium-grey);
  color: var(--color-white);
}

button {
  border: none;
  margin-top: 1.5em;
}

.button-submit {
  background-color: var(--color-orange);
  color: var(--color-white);
  border-radius: 50px;
  height: 3em;
  letter-spacing: 2px;
}

.button-submit:hover {
  background-color: var(--color-white);
  color: var(--color-orange);
}

@media (max-width: 375px) {
  body {
    font-size: 14px;
    padding: 1.3em;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--color-white);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
