:root {
  --color-white: hsl(0, 0%, 100%);
  --color-light-grey: hsl(217, 12%, 63%);
  --color-medium-grey: hsl(216, 12%, 54%);
  --color-dark-blue: hsl(213, 19%, 18%);
  --color-very-dark-blue: hsl(216, 12%, 8%);
  --color-orange: hsl(25, 97%, 53%);
  --backgroud: hsl(211, 19%, 23%);
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Overpass", sans-serif;
  background-color: var(--color-very-dark-blue);
  font-size: 15px;
  min-height: 100vh;
  margin: auto;
}

h1 {
  color: var(--color-white);
}

p {
  color: var(--color-light-grey);
}

.hidden {
  display: none;
}

.container-submit,
.container-thank-you {
  background-color: var(--color-dark-blue);
  max-width: 350px;
  border-radius: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin: 2em 0;
}

.container-submit {
  position: relative;
  z-index: 1;
}

.container-thank-you {
  max-width: 350px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.img-thank-you {
  width: 50%;
  margin: 1.5em;
}

.star {
  background-color: var(--backgroud);
  border-radius: 50%;
  padding: 0.8em;
  max-width: 1em;
}

.zone-rating {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rating-score {
  color: var(--color-orange);
  background-color: var(--backgroud);
  border-radius: 30px;
  padding: 0.3em;
  width: 50%;
  text-align: center;
}

.text-thank-you {
  text-align: center;
  width: 98%;
}

.numbers {
  color: var(--color-light-grey);
  background-color: var(--backgroud);
  width: 3.2em;
  height: 3.2em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.numbersClicked {
  color: var(--color-white);
  background-color: var(--color-orange);
}

.numbers:hover {
  background-color: var(--color-medium-grey);
  color: var(--color-white);
}

button {
  border: none;
  margin-top: 1.5em;
}

#button-submit {
  background-color: var(--color-orange);
  color: var(--color-white);
  border-radius: 50px;
  height: 3em;
  letter-spacing: 2px;
  margin-top: 2.5em;
}

#button-submit:hover {
  background-color: var(--color-white);
  color: var(--color-orange);
}

.hidden {
  display: none;
}

@media (max-width: 375px) {
  body {
    font-size: 14px;
    padding: 1em;
  }
  .container-thank-you {
    max-width: 300px;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--color-white);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
